
p{color: white;}
body {background-color: rgba(0, 0, 0, 0.671);}
header {background-color: rgba(255, 255, 255, 0.13);}
nav {background-color: rgba(255, 254, 254, 0.473);}
.titlelow {font-weight: 500;
    color: orange;
    font-size: 24px;}

.idcheck {font-weight: 500;
    color: yellow;}

.titleclass{font-weight: 900;
    color:pink;
    text-shadow: 6px 2px 4px black;
    font-family: 'Brush Script MT', cursive;
    font-size: 64px;}}

ul a {color: rgb(13, 13, 17);}


.nawigacja:hover{background-color: rgb(86, 201, 247)}
.nawigacja:hover{color: white}
a{color: rgb(48, 126, 216);}
a:focus{color: blueviolet;}
button:focus{background-color: orange; color: white;}
li a:hover {background-color: white; color: black;}
li a:active {background-color:black; color: darkgray;}
.articletext > a {color: blueviolet;}
.accent {color: blueviolet;}
body {font-family: 'Garamond', serif;
      line-height: 1.5;}
h1, h2, h3, h4, h5, h6 {font-family: "Oswald", sans-serif;}
